:root {
  --textprimary: rgb(64 63 61 / 100%);
  --textinverse: rgb(225 212 201 / 100%);
  --textaccent: rgb(176 144 122 / 100%);
  --backgroundpage: rgb(225 212 201 / 100%);
  --backgroundcontainer: rgb(102 95 85 / 100%);
  --backgroundoverlay: rgb(64 63 61 / 80%);
  --borderprimary: rgb(193 182 173 / 100%);
  --borderinverse: rgb(102 95 85 / 100%);
  --textdark: rgb(64 63 61 / 100%);
  --desktop-heading-heading-1-font-family: 'Inter', helvetica;
  --desktop-heading-heading-1-font-weight: 600;
  --desktop-heading-heading-1-font-size: 72px;
  --desktop-heading-heading-1-letter-spacing: 0px;
  --desktop-heading-heading-1-line-height: 105%;
  --desktop-heading-heading-1-font-style: normal;
  --desktop-heading-heading-1-accent-font-family: 'Inter', helvetica;
  --desktop-heading-heading-1-accent-font-weight: 600;
  --desktop-heading-heading-1-accent-font-size: 72px;
  --desktop-heading-heading-1-accent-letter-spacing: 0px;
  --desktop-heading-heading-1-accent-line-height: 105%;
  --desktop-heading-heading-1-accent-font-style: italic;
  --desktop-heading-heading-2-font-family: 'Inter', helvetica;
  --desktop-heading-heading-2-font-weight: 600;
  --desktop-heading-heading-2-font-size: 60px;
  --desktop-heading-heading-2-letter-spacing: 0px;
  --desktop-heading-heading-2-line-height: 125%;
  --desktop-heading-heading-2-font-style: normal;
  --desktop-heading-heading-2-accent-font-family: 'Inter', helvetica;
  --desktop-heading-heading-2-accent-font-weight: 600;
  --desktop-heading-heading-2-accent-font-size: 60px;
  --desktop-heading-heading-2-accent-letter-spacing: 0px;
  --desktop-heading-heading-2-accent-line-height: 125%;
  --desktop-heading-heading-2-accent-font-style: italic;
  --desktop-heading-heading-3-font-family: 'Inter', helvetica;
  --desktop-heading-heading-3-font-weight: 600;
  --desktop-heading-heading-3-font-size: 24px;
  --desktop-heading-heading-3-letter-spacing: 0px;
  --desktop-heading-heading-3-line-height: 125%;
  --desktop-heading-heading-3-font-style: normal;
  --desktop-body-medium-font-family: 'Inter', helvetica;
  --desktop-body-medium-font-weight: 400;
  --desktop-body-medium-font-size: 16px;
  --desktop-body-medium-letter-spacing: 0px;
  --desktop-body-medium-line-height: 150%;
  --desktop-body-medium-font-style: normal;
  --desktop-body-caption-font-family: 'Inter', helvetica;
  --desktop-body-caption-font-weight: 600;
  --desktop-body-caption-font-size: 10px;
  --desktop-body-caption-letter-spacing: 0px;
  --desktop-body-caption-line-height: 140%;
  --desktop-body-caption-font-style: normal;
  --desktop-action-link-button-font-family: 'Inter', helvetica;
  --desktop-action-link-button-font-weight: 600;
  --desktop-action-link-button-font-size: 16px;
  --desktop-action-link-button-letter-spacing: 0px;
  --desktop-action-link-button-line-height: 150%;
  --desktop-action-link-button-font-style: normal;
  --desktop-action-burger-link-font-family: 'Inter', helvetica;
  --desktop-action-burger-link-font-weight: 600;
  --desktop-action-burger-link-font-size: 32px;
  --desktop-action-burger-link-letter-spacing: 0px;
  --desktop-action-burger-link-line-height: 125%;
  --desktop-action-burger-link-font-style: normal;
  --mobile-heading-heading-1-font-family: 'Inter', helvetica;
  --mobile-heading-heading-1-font-weight: 600;
  --mobile-heading-heading-1-font-size: 42px;
  --mobile-heading-heading-1-letter-spacing: 0px;
  --mobile-heading-heading-1-line-height: 115%;
  --mobile-heading-heading-1-font-style: normal;
  --mobile-heading-heading-1-accent-font-family: 'Inter', helvetica;
  --mobile-heading-heading-1-accent-font-weight: 600;
  --mobile-heading-heading-1-accent-font-size: 42px;
  --mobile-heading-heading-1-accent-letter-spacing: 0px;
  --mobile-heading-heading-1-accent-line-height: 115%;
  --mobile-heading-heading-1-accent-font-style: italic;
  --mobile-heading-heading-2-font-family: 'Inter', helvetica;
  --mobile-heading-heading-2-font-weight: 600;
  --mobile-heading-heading-2-font-size: 32px;
  --mobile-heading-heading-2-letter-spacing: 0px;
  --mobile-heading-heading-2-line-height: 125%;
  --mobile-heading-heading-2-font-style: normal;
  --mobile-heading-heading-2-accent-font-family: 'Inter', helvetica;
  --mobile-heading-heading-2-accent-font-weight: 600;
  --mobile-heading-heading-2-accent-font-size: 32px;
  --mobile-heading-heading-2-accent-letter-spacing: 0px;
  --mobile-heading-heading-2-accent-line-height: 125%;
  --mobile-heading-heading-2-accent-font-style: italic;
  --collection-1-text-primary: rgb(64 63 61 / 100%);
  --collection-1-dark-text-primary: rgb(225 212 201 / 100%);
  --collection-1-dark-text-inverse: rgb(225 212 201 / 100%);
  --collection-1-dark-text-accent: rgb(176 144 122 / 100%);
  --collection-1-dark-bg-page: rgb(41 40 38 / 100%);
  --collection-1-dark-bg-container: rgb(64 63 61 / 100%);
  --collection-1-dark-bg-overlay: rgb(41 40 38 / 80%);
  --collection-1-dark-border-primary: rgb(102 95 85 / 100%);
  --collection-1-dark-border-inverse: rgb(193 182 173 / 100%);
  --collection-1-background-modal: rgb(225 212 201 / 100%);
  --collection-1-background-modalcontrol: rgb(102 95 85 / 100%);
  --collection-1-dark-bg-modal: var(--collection-1-dark-bg-container);
  --collection-1-dark-bg-modal-control: var(--collection-1-dark-bg-page);
  --logo-url: url('/src/assets/logo.svg');
  --coffee-cup-url: url('/src/assets/coffee-cup.svg');
  --arrow-left-url: url('/src/assets/arrow-left.svg');
  --arrow-right-url: url('/src/assets/arrow-right.svg');
  --mobile-screens-url: url('/src/assets/mobile-screens.png');
  --app-store-url: url('/src/assets/app-store.svg');
  --google-play-url: url('/src/assets/google-play.svg');
}

.dark {
  --textprimary: rgb(225 212 201 / 100%);
  --textinverse: rgb(225 212 201 / 100%);
  --textaccent: rgb(176 144 122 / 100%);
  --backgroundpage: rgb(41 40 38 / 100%);
  --backgroundcontainer: rgb(64 63 61 / 100%);
  --backgroundoverlay: rgb(41 40 38 / 80%);
  --borderprimary: rgb(102 95 85 / 100%);
  --borderinverse: rgb(193 182 173 / 100%);
  --textdark: rgb(225 212 201 / 100%);
  --logo-url: url('/src/assets/dark/logo.svg');
  --coffee-cup-url: url('/src/assets/dark/coffee-cup.svg');
  --arrow-left-url: url('/src/assets/dark/arrow-left.svg');
  --arrow-right-url: url('/src/assets/dark/arrow-right.svg');
  --mobile-screens-url: url('/src/assets/dark/mobile-screens.png');
  --app-store-url: url('/src/assets/dark/app-store.svg');
  --google-play-url: url('/src/assets/dark/google-play.svg');
}
