.d-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 20px 0 40px;
  position: relative;
  background-color: var(--backgroundpage);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.header-menu {
  display: flex;
  max-width: 1360px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.logo {
  position: relative;
  width: 100px;
  height: 60px;
  content: var(--logo-url);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  flex: 1;
  align-self: stretch;
}

.d-home .div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.link {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  text-decoration: none;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--textinverse);
  transform: scaleX(0);
  transform-origin: center;
  transition:
    transform 0.5s ease-in-out 0s,
    background-color 0.5s ease-in-out 0s;
}

.link:hover::after {
  transform: scaleX(1);
  background-color: var(--textdark);
  transition:
    transform 0.5s ease-in-out 0s,
    background-color 0.5s ease-in-out 0s;
}

.text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--desktop-heading-heading-1-font-family);
  font-weight: 600;
  color: var(--textdark);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.header-actions {
  display: inline-flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.theme-switch {
  display: flex;
  width: 88px;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px;
  position: relative;
  border-radius: 100px;
  border: 1px solid;
  border-color: var(--borderprimary);
}

.light {
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1px;
  position: relative;
  background-color: var(--textaccent);
  border-radius: 100px;
  overflow: hidden;
}

.sun {
  position: relative;
  width: 22px;
  height: 22px;
}

.dark {
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
}

.moon {
  position: relative;
  width: 18px;
  height: 18px;
}

.menu-item-wrapper {
  display: inline-flex;
  height: 28px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex: 0 0 auto;
}

.img {
  position: relative;
  width: 20px;
  height: 20px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  position: relative;
  align-self: stretch;
  justify-content: center;
  max-width: 1360px;
  width: 100%;
  height: 745px;
  flex: 0 0 auto;
  background-image: url('assets/img-hero.jpg');
  border-radius: 40px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  gap: 40px;
}

.text-heading-1 {
  font-weight: var(--desktop-heading-heading-1-font-weight);
  color: var(--textinverse);
  font-family: var(--desktop-heading-heading-1-font-family);
  font-style: var(--desktop-heading-heading-1-font-style);
  letter-spacing: var(--desktop-heading-heading-1-letter-spacing);
  line-height: var(--desktop-heading-heading-1-line-height);
  font-size: var(--desktop-heading-heading-1-font-size);
}

.text-heading-1 .italic {
  font-style: var(--desktop-heading-heading-2-accent-font-style);
  color: var(--textaccent);
}

.text-wrapper-1 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--desktop-action-link-button-font-family);
  font-weight: var(--desktop-action-link-button-font-weight);
  color: var(--textinverse);
  font-size: var(--desktop-action-link-button-font-size);
  letter-spacing: var(--desktop-action-link-button-letter-spacing);
  line-height: var(--desktop-action-link-button-line-height);
  font-style: var(--desktop-action-link-button-font-style);
}

.light-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  background-color: var(--backgroundpage);
  border-radius: 100px;
  width: 200px;
  height: 64px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.light-button .img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.light-button .text-wrapper-7 {
  transform: translateX(18px);
  transition: transform 0.6s ease-in-out;
}

.light-button:hover .text-wrapper-7 {
  transform: translateX(0);
}

.light-button:hover .img {
  opacity: 1;
  transition: opacity 0.6s ease-in-out 0s;
}

.text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: var(--desktop-action-link-button-font-family);
  font-weight: var(--desktop-action-link-button-font-weight);
  color: var(--textprimary);
  font-size: var(--desktop-action-link-button-font-size);
  letter-spacing: var(--desktop-action-link-button-letter-spacing);
  line-height: var(--desktop-action-link-button-line-height);
  white-space: nowrap;
  font-style: var(--desktop-action-link-button-font-style);
}
