<footer class="contacts" id="contact-us">
  <div class="container-5">
    <div class="div-4">
      <p class="div-2">
        <span class="text-wrapper-8">Sip, Savor, Smile.</span>
        <span class="text-wrapper-2">It’s coffee time!</span>
      </p>
      <div class="socials">
        <a class="button-icon-light" href="#" aria-label="Resource Coffee on Twitter">
          <img class="img-2" src="src/assets/twitter.svg" alt="Twitter">
        </a>
        <a class="button-icon-light" href="#" aria-label="Resource Coffee on Instagram">
          <img class="img-2" src="src/assets/instagram.svg" alt="Instagram">
        </a>
        <a class="button-icon-light" href="#" aria-label="Resource Coffee on Facebook">
          <img class="img-2" src="src/assets/facebook.svg" alt="Facebook">
        </a>
      </div>
    </div>
    <address class="div-4">
      <p class="text-wrapper-9">Contact us</p>
      <div class="contacts-2">
        <div class="div">
          <a class="link" href="https://maps.google.com/?q=8558+Green+Rd+LA">
            <img class="img" src="src/assets/pin-alt.svg" alt="Location" aria-hidden="true">
            <span class="text-wrapper-10">
              8558 Green Rd.,&nbsp;&nbsp;LA
            </span>
          </a>
        </div>
        <div class="div">
          <a class="link" href="tel:+16035550123">
            <img class="img" src="src/assets/phone.svg" alt="Phone number" aria-hidden="true">
            <span class="text-wrapper-10">+1 (603) 555-0123</span>
          </a>
        </div>
        <div class="div">
          <div class="link">
            <img class="img" src="src/assets/clock.svg" alt="Schedule" aria-hidden="true">
            <span class="text-wrapper-10">Mon–Sat: 9:00–23:00</span>
          </div>
        </div>
      </div>
    </address>
  </div>
</footer>